* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: rgba(253, 122, 0, 0.911);
    color: white;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    z-index: 1000;
}

.fixed.scrolled {
  background-color: rgba(0, 0, 0, 0.8) ;
  border-bottom: 1px solid rgba(253, 122, 0, 0.911);
  box-shadow:0px 25px 20px -20px rgba(253, 122, 0, 0.911);
}

.logo-main {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.logo-sub {
    font-size: 1.2rem;
    padding-left: 50px;
}

.nav-rigth {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.nav-rigth a {
    text-decoration-line: none;
    color: white;
    font-size: 1.3rem;
}

.cart-btn {
    padding: 0.7rem 1.2rem 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    width: 125px;
    gap: 5px;
}

.cart-text {
    background: transparent;
    border: 2px solid white;
    min-width: 60px;
    border-radius: 7px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bike-icon {
    display: inline-block;
    filter: brightness(0) invert(1);
    transition: transform 0.6s ease-out;
}

.cart-btn:hover .bike-icon {
    transform: translateX(15px);
}

.line {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    pointer-events: none;
}

.line::after {
    content: '';
    position: absolute;
    left: 90px;
    top: 15px;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: width 0.6s ease-out;
}

.cart-btn:hover .line::after {
    width: 60px;
}


.background-img {
    background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836') center/cover;
    height: 600px;
    width: 100%;
}

.page-title {
    text-align: center;
    font-size: 35px;
    padding-bottom: 5%;
}

.section {
    padding: 20px 100px;
    font-size: 18px;
    background-color: rgba(253, 122, 0, 0.911);
    color: white;
}

.section a {
    text-decoration-line: none;
    color: white;
}

.section span {
    font-weight: bold;
    font-size: 20px;
}

.cart-wrapper {
    width: 80%;
    background-color: white;
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0 0 10px #ddd;
    margin: 0 auto;
    margin-top: 100px;
}

.cart-wrapper h2 {
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th {
    background-color: #efefef;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

.cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
}

.product-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-row img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.delete.btn {
    cursor: pointer;
    color:  rgba(253, 122, 0, 0.911);
    font-size: 18px;
}

.qty-input {
    width: 50px;
}

.checkout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.price {
    font-size: 23px;
}

.price span {
    color: rgba(253, 122, 0, 0.911);
    font-size: 25px;
}

.checkout-btn {
    background-color: rgba(253, 122, 0, 0.911);
    padding: 12px 20px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 7px; 
}

.checkout-btn:hover {
    border: 2px solid rgba(253, 122, 0, 0.911);
    background: transparent;
    color: rgba(253, 122, 0, 0.911);
    transition: 0.6s;
}