* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://restaurant.stepprojects.ge/images/p_bg.jpg');
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: rgba(253, 122, 0, 0.911);
    color: white;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    z-index: 1000;
}

.fixed.scrolled {
  background-color: rgba(0, 0, 0, 0.8) ;
  border-bottom: 1px solid rgba(253, 122, 0, 0.911);
  box-shadow:0px 25px 20px -20px rgba(253, 122, 0, 0.911);
}

.logo-main {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.logo-sub {
    font-size: 1.2rem;
    padding-left: 50px;
}

.nav-rigth {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.nav-rigth a {
    text-decoration-line: none;
    color: white;
    font-size: 1.3rem;
}

.cart-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-btn {
    padding: 0.7rem 1.2rem 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    width: 125px;
    gap: 5px;
    text-decoration: none;
}

.cart-text {
    background: transparent;
    border: 2px solid white;
    min-width: 60px;
    border-radius: 7px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    white-space: nowrap;
}

.bike-icon {
    display: inline-block;
    filter: brightness(0) invert(1);
    transition: transform 0.6s ease-out;
}

.cart-btn:hover .bike-icon {
    transform: translateX(15px);
}

.line {
    position: absolute;
    bottom: 57%;
    left: 30px;
    width: 100%;
    height: 2px;
    background: transparent;
    pointer-events: none;
}

.line::after {
    content: '';
    position: absolute;
    left: 90px;
    top: 15px;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: width 0.6s ease-out;
}

.cart-btn:hover .line::after {
    width: 60px;
}


.background-img {
    background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836') center/cover;
    height: 600px;
    width: 100%;
}

.category-main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-direction: column;
    position: relative;
}

.category {
    display: flex;
    align-items: end;
    justify-content: center;
}

.text1 {
    display: flex;
    justify-content: center;
    height: 40px;
    padding-bottom: 70px;
}

.category-inline {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(253, 122, 0, 0.911);
}

.category-btn {
    background-color: rgba(253, 122, 0, 0.911);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.category-btn:hover {
    background-color: #e06a00;
}

.category-btn.active {
    box-shadow: 0 0 0 3px rgba(253,122,0,0.5);
}

.filter-box {
    display: flex;
    width: 250px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    align-items: center;
    gap: 30px;
    padding: 10px;
    flex-direction: column;
    position: absolute;
    top: 810px;
    left: 50px;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.filter-range {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.check {
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.check input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

input[type=range] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;  
    width: 150px;
    height: 8px;
    border-radius: 5px;
    background: #ddd; 
    outline: none;
}

input[type=range]::-moz-range-track {
    background: #ddd;
    height: 8px;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #ddd;
    height: 8px;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(253, 122, 0); 
    cursor: pointer;
    margin-top: -6px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgb(253, 122, 0) 100%);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 140px;
}

.buttons button {
    height: 40px;
    background-color: rgba(253, 122, 0, 0.911);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.buttons button:hover {
    border: 2px solid rgba(253, 122, 0, 0.911);
    background: transparent;
    color: rgba(253, 122, 0, 0.911);
    transition: 0.6s;
    transform: scale(1.1);
}

.product-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px 60px 100px 380px;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
}

.product-card {
    width: 100%;
    max-width: 350px;
    height: 420px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #cfcfcf;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    align-items: center;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.product-name {
    font-size: 24px;
}

.product-img {
    width: 100%;
    height: 250px;
    background-color: #cfcfcf;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.bottomm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px;
}

.product-price {
    font-size: 1.20rem;
}

.add-btn {
    background: transparent;
    width: 120px;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
}

.product-card:hover .add-btn {
    background: rgba(253, 122, 0, 0.911); 
    transform: scale(1.05);
    transition: 0.s;
    color: white;
    border: 1px solid white;
}


footer {
    background-color: rgba(253, 122, 0, 0.911);
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-p {
    font-size: 18px;
}